
  <nav class="navbar navbar-expand-md navbar-dark " aria-label="Fourth navbar example">
    <div class="container-fluid">
      <a class="navbar-brand  d-flex" href="#">
        
        <span class="material-symbols-outlined text-green">
          energy_savings_leaf
          </span>
        <p class="text-green">Mintify</p>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">
          <i class="fa fa-navicon" style="font-size: 28px;"></i>
        </span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample04">
        <ul class="navbar-nav me-auto  mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active " aria-current="page" href="#">Dashboard</a>
            
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link ">FAQ</a>
          </li>
        </ul>
       
        <form role="search">
          <input class="form-control" type="search" placeholder="Search" aria-label="Search" src="assets/img/Vector(5).png"> 
      </form>



     <div class="d-flex medium">
      <ul class="d-flex justify-content-center align-items-center mb-0">
        <li class="nav-item d-flex justify-content-center align-items-center" >
          <a class="nav-link ">
              <span>
                  
                  <i class="fa-regular fa-envelope "></i>
              </span>
          </a>
        </li>
        <li class="nav-item d-flex justify-content-center align-items-center" >
          <a class="nav-link ">
              
                  
                  <span class="material-symbols-outlined">
                    crop_5_4
                    </span>
              
          </a>
        </li>
        <li class="nav-item d-flex justify-content-center align-items-center" >
          <a class="nav-link ">
              <span>
                  
                  <i class="fa-solid fa-wallet"></i>
              </span>
          </a>
        </li>
      </ul>
      <div class="d-flex">
       
          <li class="nav-item d-flex justify-content-center align-items-center" >
            <a class="nav-link ">
                
                    <img src="assets/img/bg.png" alt="" class="picture">
                
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white nav-link1" href="#">Leslie Alexander</a>
          </li>
        
      </div>
     </div>
      </div>
    </div>
  </nav>

  <app-article></app-article>
  
